.footer {
    position: fixed;
    /* margin-top: 10%; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to right, blue,lightblue);
    color: white;
    text-align: center;
  }