.navbar {
  width: 100vw;
  height: 70px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 50px;
}

ul li {
  list-style: none;
}

input {
  border: none;
  height: 100%;
}
.search {
  border: 1px solid grey;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search button {
  background-color: blanchedalmond;
  height: 100%;
  width: 30px;
  cursor: pointer;
  border: none;
}

.box span {
  cursor: pointer;
}
li h3 {
  cursor: pointer;
}

@media (orientation: portrait) {
  .navbar {
    width: 90vw;
  }
  .list {
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: center;
    padding: 0;
  }
}

