* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.tableCoins {
  width: 80vw;
  margin: -100px auto;
  text-align: center;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tableFav{
  border-collapse: collapse;
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 10px;
}

.btnMore{
  /* margin: 20px; */
  margin: 110px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.btnMore button:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img {
  width: 40px;
  height: 40px;
}

.name-image-symbol {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}

.name-symbol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100px;
  cursor: pointer;
}

.background {
  width: 100%;
  height: 350px;
  background-image: linear-gradient(to right, blue,lightblue);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

tbody tr:hover{
  background-color: rgb(213, 208, 208);
}
.tableFav tbody tr:hover{
  background-color: grey;
}

.green{
  color: green;
}

.red{
  color: red;
}

tr { 
  border: solid;
  border-width: 0.5px 0;
  border-color: rgb(240, 238, 235);
}

thead td{
  color: grey;
  cursor: pointer;
}

.para{
  text-align: center;
}

.para h3{
  color: white;
}

button{
  border: none;
}

.btnMore button{
  background-color: green;
  border-radius: 5px;
  color: white;
  height: 50px;
  width: 20%;
  cursor: pointer;
}
/* 
thead {
  font-size: 0.9rem;
  background: rgb(250, 250, 250) !important;
  border-left: none !important;
  font-weight: 500 !important;
  color: rgba(0, 0, 0, 0.6) !important;
} */

/* td{
  vertical-align: middle;
} */

/* .main{
  width: 80vw;
  margin: auto;
  max-width: 1200px;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 15px -3px !important;
    border: none !important;
  z-index: 1;
  position: absolute;
  margin-left: 10vw;
  background: white;
    
}

.container-top{
  position: fixed;
  height: 15vh;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 0;
  background: linear-gradient(to right, rgb(63, 81, 181), rgb(100, 181, 246)) rgb(255, 255, 255) !important;
} */

.tableFav thead{
  background-color: #fff;
}

